.banner {
  @extend .box-shadow-block;

  background: $error;
  color: white;

  &__header {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__error {
    display: inline-block;
  }

  &__close-btn {
    height: 30px;
    float: right;
  }
}
