.sort {
  padding: 10px 15px;
  background: $accent;

  &__wrapper {
    display: flex;
    justify-content: space-evenly;
  }

  &__button {
    padding: 2px 0;

    &.is-sorted-asc,
    &.is-sorted-desc {
      font-weight: bold;
    }

    &.is-sorted-asc:after {
      content: ' ↓';
    }

    &.is-sorted-desc:after {
      content: ' ↑';
    }
  }
}
