// COLORS
$bodyBkg: #f2f2f2;
$boxShadow: rgba(0,0,0,0.2);
$primary: #212121;
$accent: #ffc107;
$accent-hover: #f2b807;
$error: #ef5350;
$border: #cfd8dc;
$placeholder: #b0bec5;

// BREAKPOINTS
$small-up-breakpoint: 640px;
$medium-up-breakpoint: 1024px;

// DIMENSIONS
$app-bar-small: 56px;
$app-bar-medium: 64px;

// Z-INDEX
$z-index-app-bar: 1;
